{erl_opts, [debug_info]}.
{deps, [
    {riakc, {
        git,
        "https://github.com/ivano9/riak-erlang-client.git",
        {branch, "develop-3.0"}
    }},
    {pooler,
        {git, "https://github.com/epgsql/pooler.git", {branch, "master"}}
    },
    backoff,
    {app_config,
        {git, "https://github.com/leapsight/app_config.git", {branch, "master"}}
    },
    telemetry
]}.




{relx, [
    {release, {riak_pool, "0.2.0"},[
        %% Erlang
        sasl,
        crypto,
        inets,
        tools,
        runtime_tools,
        os_mon,
        %% Third-parties
        cache,
        riakc,
        riak_pool,
        pooler,
        gproc,
        jsone,
        {reliable, load},
        backoff,
        utils,
        leap,
        telemetry,
        babel
    ]},
    {dev_mode, false},
    {include_src, false},
    {include_erts, true},
    {extended_start_script, true},

    %% {overlay_vars, "config/prod/vars.config"},
    %% {vm_args, "config/prod/vm.args"},

    {overlay, []}
]}.

{profiles, [
    {dev, [
        {erl_opts, [debug_info, export_all, nowarn_export_all]},
        {relx, [
            {dev_mode, true},
            {include_src, false},
            {include_erts, false},
            {config, "config/sys.config"},
            {overlay, [
                {copy, "config/sys.config", "etc/sys.config"}
            ]}
        ]}
    ]},
    {lint,  [
        {plugins, [
            {rebar3_lint,
                {git,
                    "https://github.com/project-fifo/rebar3_lint.git",
                    {tag, "v0.1.10"}
                }
            }
        ]}
    ]},
    {docs, [
        {deps, [
            {edown,
                ".*",
                {git, "https://github.com/Leapsight/edown.git", {branch, "master"}}
            }
        ]},
        {edoc_opts, [
            {dir, "doc/modules"},
            {application, babel},
            {doclet, edown_doclet},
            %% {pretty_printer, erl_pp},
            {top_level_readme, {
                "./doc/modules/summary.md",
                "https://gitlab.com/leapsight/riak_pool"
            }},
            %% Leapsight additions
            {function_index, false}
        ]}
    ]},
    {test, [
        {deps, [meck, proper]},
        {ct_opts, [
            {sys_config, ["config/sys.config"]}
        ]},
        {erl_opts, [debug_info, export_all, nowarn_export_all]},
        {relx, [
            {dev_mode, false},
            {include_src, false},
            {include_erts, true},
            {config, "config/sys.config"},
            {overlay, [
                {copy, "config/sys.config", "etc/sys.config"}
            ]}
        ]}
    ]}
]}.


{shell, [
    {config, "config/sys.config"},
    {apps, [app_config, riakc, prometheus, pooler, riak_pool]}
]}.
